* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.title {
  background-color: darkslateblue;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 28px;
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: blanchedalmond;
  padding: 15px;
}

.menulink {
  text-decoration: none;
  color: darkslateblue;
  font-size: 30px;
  padding: 5px 15px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.menulink:hover {
  color: turquoise;
}

.menulink--active {
  color: black;
  background-color: white;
}

main {
  margin-top: 100px;
  margin-bottom: 100px;
}

.question-card {
  margin: 30px 30px 30px 30px;
  border: 1px solid grey;
  box-shadow: 1px 3px 3px lightgrey;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tags {
  align-self: flex-start;
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.question {
  text-align: center;
  margin-bottom: 30px;
}

.button--show {
  background-color: darkslateblue;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  text-align: center;
}

.tagbox {
  border: 1px solid grey;
  padding: 2px 5px;
  background-color: grey;
  color: white;
  font-size: 10px;
}

.bookmark {
  position: absolute;
  top: -15px;
  right: 10px;
  font-size: 30px;
  color: lightgrey;
}

.active {
  position: absolute;
  top: -15px;
  right: 10px;
  font-size: 30px;
  color: darkslateblue;
}

.answer-card {
  margin: 30px 30px 30px 30px;
  border: 1px solid grey;
  box-shadow: 1px 3px 3px lightgrey;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.button--hide {
  background-color: white;
  color: darkslateblue;
  padding: 8px 16px;
  border: 2px solid darkslateblue;
  border-radius: 20px;
  text-align: center;
}
