/*Menubar in Footer*/

.menu {
  display: flex;
  justify-content: space-around;
  background-color: #16123f;
  padding: 15px 15px 25px 15px;
  list-style: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.menu__link {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 5px 15px;
}

.menu__link:hover {
  color: #ffede1;
}

.menu__link--active {
  color: white;
  border-bottom: 2px solid white;
}
