/*Profile Page */

.profil__header {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.profil__pic {
  width: 200px;
  border-radius: 50%;
}

.text-indent {
  margin-top: 50px;
  padding: 10px 50px 10px 50px;
}

.pm {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
